.title-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-group mat-card-title {
  text-align: center;
}

.title-group mat-card-subtitle {
  text-align: end;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
