<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title-group class="title-group">
      <mat-card-title>{{ title | titlecase }}</mat-card-title>
      <mat-card-subtitle>
        Target Frequency: {{ frequency }}
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-raised-button (click)="openTrackDialog()">Track</button>
  </mat-card-actions>
</mat-card>
