.actions-row {
  padding: 1em;
  display: flex;
}

.buttons {
  margin-left: auto;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.habits-table {
  width: 80%;
}
