<section class="actions-row">
  <div class="buttons">
    <button mat-flat-button (click)="openDialog()">Create Habit</button>
  </div>
</section>
<!--<mat-grid-list cols="2" rowHeight="2:1">-->
<mat-grid-list [cols]="columns">
  <mat-grid-tile [colspan]="1">
    <div class="element-container">
      <app-habits-table class="table"></app-habits-table>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <div class="element-container">
      <app-overview-table class="table"></app-overview-table>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">3</mat-grid-tile>
  <mat-grid-tile [colspan]="1">4</mat-grid-tile>
</mat-grid-list>
