<section class="actions-row">
  <div class="buttons">
    <button mat-flat-button (click)="openDialog()">Create Habit</button>
  </div>
</section>
<mat-grid-list [cols]="columns">
  @for (habit of habitsService.habits$ | async; track habit.name) {
    <mat-grid-tile [colspan]="1">
      <div class="element-container">
        <app-habit-card [habit]="habit">
          <app-overview-table [entries]="habit.entries"></app-overview-table>
        </app-habit-card>
      </div>
    </mat-grid-tile>
  }
</mat-grid-list>
