<div class="header">
  <h2 mat-dialog-title>Create New Habit</h2>
</div>
<form [formGroup]="habitForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-dialog-content class="content">
    @if (!customHabit) {
      <mat-form-field>
        <mat-label>Habits</mat-label>
        <mat-select formControlName="habit">
          @for (habit of habits; track habit.name) {
            <mat-option [value]="habit.name">{{habit.name | titlecase}}</mat-option>
          }
        </mat-select>
        <mat-hint align="end">
          <a (click)="toggleCustom()"><u>Create custom</u></a>
        </mat-hint>
      </mat-form-field>
    } @else {
      <mat-form-field>
        <mat-label>Custom Habit</mat-label>
        <input formControlName="habit" name="habit" matInput>
        <mat-hint align="end">
          <a (click)="toggleCustom()"><u>Choose popular Habit</u></a>
        </mat-hint>
      </mat-form-field>
    }
    <mat-form-field>
      <mat-label>Frequency</mat-label>
      <mat-select formControlName="frequency">
        @for (frequency of frequencies ; track frequency) {
          <mat-option [value]="frequency">{{frequency | titlecase}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Target</mat-label>
      <input formControlName="target" name="target" matInput>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button type="submit" [disabled]="!habitForm.valid">Create</button>
  </mat-dialog-actions>
</form>
