.sidenav-container {
  /*height: 100%;*/
  margin-top: 56px;
  flex: 1;
}

.sidenav {
  width: 200px;
}

.toolbar {
  font-size: xx-large;
  position: fixed;
  z-index: 2;
}

.mat-sidenav-content {
  background: rgb(252, 254, 255);
}

.flexExpand {
  flex: 1 1 auto;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
