<div class="header">
  <h2 mat-dialog-title>Track {{data.name | titlecase}}</h2>
</div>
<form [formGroup]="trackForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-dialog-content class="content">
    <mat-form-field>
      <mat-label>Start time</mat-label>
      <input matInput formControlName="startTime" [matTimepicker]="startPicker">
      <mat-timepicker-toggle matIconSuffix [for]="startPicker"/>
      <mat-timepicker #startPicker />
    </mat-form-field>
    <mat-form-field>
      <mat-label>End time</mat-label>
      <input matInput formControlName="endTime" [matTimepicker]="endPicker">
      <mat-timepicker-toggle matIconSuffix [for]="endPicker"/>
      <mat-timepicker #endPicker/>
    </mat-form-field>
    <mat-form-field class="note">
      <mat-label>Note</mat-label>
      <textarea matInput formControlName="note"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button type="submit" [disabled]="!trackForm.valid">Create</button>
  </mat-dialog-actions>
</form>
