/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Kanit,
  ));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Kanit-light, "Helvetica Neue", sans-serif;
  //font-weight: 300;
}
